@import "var";
@import "mixins";


.container{
    height: 100vh;
    width: 100vw;

    
    h2{
         display: flex;
         justify-content: center;
         align-items: center;
    }

    img{
        object-position: center;
        object-fit: cover;
        height: 40%;
        width: 32%;
        padding: $myPadding;
        &:hover{
            @include myFilter(120%);
        }
    }
 }
